<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
        @Styles.Render("~/Content/css/SiteCommon")
    </head>
    <body ng-app>
		@RenderBody()
		<script type="text/javascript">
			String.prototype.resolveUrl = function () {
				var baseUrl = '@Html.Raw(VirtualPathUtility.ToAbsolute("~/"))';
				var newUrl = this;
				if (!!newUrl && newUrl.charAt(0) == '~') {
					newUrl = newUrl.replace('~/', baseUrl);
				}
				return newUrl;
			};
		</script>
        @Scripts.Render("~/bundles/3rdparty", "~/bundles/SiteCommon")
        @RenderSection("scripts", required: false)
    </body>
</html>
